# Arquivos de ambiente e variáveis sensíveis
.env
.env.*

# Ambiente virtual
venv/
.venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Diretórios de build e distribuição
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Configurações de IDEs e Editores
.vscode/
.idea/
*.swp
*.swo

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db